.section_type-wideslider {
  padding: 35px 0px;
}
.slidenavContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;

  & .uk-dotnav > * > a {
    border-color: #fff;
    background-color: #fff;
  }
  & .uk-dotnav > * > :focus,
  .uk-dotnav > * > :hover {
    background-color: $color_secondary !important;
    border-color: $color_secondary !important;
  }
  & .uk-dotnav > * > :active {
    background-color: $color_secondary !important;
    border-color: $color_secondary !important;
  }
  & .uk-dotnav > * > .uk-active a {
    border-color: #fff !important;
    background-color: #fff !important;
  }
}
.uk-active a {
  background-color: $color_secondary !important;
  border-color: $color_secondary !important;
}
