.section-doublecard {
  & .leftblock {
    & img {
      width: 100%;
    }
  }
  & .right-block {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    & a {
      margin: 30px 30px;
      background-color: #fff;
      padding: 20px 60px;
      transition: ease-in-out 300ms;
      & h2 {
        & b {
          color: $color_secondary;
          letter-spacing: -1px;
          transition: ease-in-out 300ms;
        }
      }
      & span {
        color: #000 !important;
      }
      &:hover {
        & span {
          color: $color_secondary !important;
          transition: ease-in-out 300ms;
        }
      }
    }
  }
}
