@import "section/section";

@import "card/card";

@import "navbar/navbar";

@import "wideslider/wideslider";
@import "doublecard/doublecard";
@import "longcard/longcard";
@import "extra/extra";

.wp-block {
  max-width: unset !important;
}

.uk-sticky-placeholder {
  height: unset !important;
}

.leftmenu {
  position: absolute;
  left: 15px;
  top: 75px;
  @include mediaquery_size_m() {
    left: 40px;
  }
  & .button {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 5px 15px;
    border-radius: 5px;
    & svg {
      color: #fd5a0e;
      width: 20px;
    }
    & span {
      color: #000000;
      margin-left: 10px;
      font-size: 18px;
    }
  }
}
.rightmenu {
  position: absolute;
  right: 15px;
  top: 75px;
  @include mediaquery_size_m() {
    right: 40px;
  }
  & .button {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 5px 15px;
    border-radius: 5px;
    & svg {
      color: #fd5a0e;
      width: 20px;
    }
    & span {
      color: #000000;
      margin-right: 10px;
      font-size: 18px;
    }
  }
}

.callbutton {
  padding: 5px 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 21px;
  transition: 500ms;
  &:hover {
    background-color: #fff;
    color: #fd5a0e;
    border: 1px solid #fd5a0e;
    transition: 500ms;
    text-decoration: none;
  }
  & svg {
    height: 23px;
  }
}

.dropdown_controller {
  padding: 0px 0px !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px 0px #000 !important;
  overflow: hidden;
  border: 1px solid #eee;

  & ul {
    margin-bottom: 0px;
  }
  & li {
  }
  & a {
    display: block;
    text-indent: 10px;
    color: #000 !important;
    line-height: unset !important;
    height: unset !important;
    transition: ease-in-out 300ms;
    padding: 10px 15px !important;
    border-bottom: 1px solid #eee;
    &:hover {
      color: #fff !important;
      background-color: #fd5a0e;
      text-decoration: none;
      transition: ease-in-out 300ms;
    }
  }
}

.footerList {
  & a {
    color: #fff;
    position: relative;
    transition: ease-in-out 300ms;
    &:hover {
      color: #fd5a0e !important;
      text-decoration: none;
      transition: ease-in-out 300ms;
    }
  }
}
.section-topfooter {
  background-color: #212121;
  padding: 45px 0px;
  border-top: 1px solid #fd5a0e;
}

.quotecontainer {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.mapcontainer {
  padding: 35px 0px;
  background: linear-gradient(0deg, #161616 50%, white 50%);
}
.mapiframe {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  & iframe {
    width: 100%;
    border-radius: 15px;
  }
}
