.top-menu {
  background-color: #000;
  color: #fff;
  padding: 10px 0px;
  & .ses {
    margin-bottom: 10px;
  }
  @include mediaquery_size_m() {
    & .ses {
      margin-bottom: 0px;
    }
  }
}
.topnavmenu {
  & a {
    color: #fff !important;
    font-size: 13px;
    margin-left: 10px;
    transition: ease-in-out 300ms;
    &:hover {
      color: #fe5f15 !important;
      text-decoration: none;
      transition: ease-in-out 300ms;
    }
  }
}
.bottomnavmenu {
  & a {
    color: #fff !important;
    font-size: 13px;
    margin-right: 10px;
    transition: ease-in-out 300ms;
    &:hover {
      color: #fe5f15 !important;
      text-decoration: none;
      transition: ease-in-out 300ms;
    }
  }
}

.dropdown-controller {
  background-color: #000 !important;
  box-shadow: none;
  color: #fff;
  padding-bottom: 0px;
}

.nav__link {
  min-height: unset !important;
  min-height: unset !important;
  color: #000 !important;
  font-weight: 700;
  padding: 0px !important;
  margin-left: 20px;
  &:hover {
    text-decoration: none;
  }
}
ul.uk-list {
  margin-bottom: 0px;
}
button.mobilemenu {
  background-color: transparent;
  border: 0px;
}
//
//
//
//
//
//
//
//
//
//
//
//

// OLD
.navbar_theme-white {
  background-color: #fff;
  & .callbutton {
    color: #fe5f15;
  }
}
.uk-sticky-below {
  background-color: #fff !important;
}
.nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 15px 0px;
}
