.section-longcard {
  background-color: #fff;
  & .uk-grid {
    background-color: #fff;

    & .uk-width-1-1 {
      background-color: $color_secondary;
    }
  }
  & .leftblock {
  }
  & .rightblock {
    & h2 {
      font-size: 108px;
      color: #fff;
      line-height: 0.8em;
    }
  }
}
