.section-longcard {
  & .uk-grid {
  }
  & .leftblock {
    & img {
      width: 100%;
    }
  }
  & .rightblockcontainer {
  }
  & .rightblock {
    background-color: $color_secondary;
    padding: 180px 0px;

    & h2 {
      font-size: 108px;
      color: #fff;
      line-height: 0.8em;
    }
  }
}
