.currencyswitchercontainer {
  box-shadow: none !important;
  & .woocs-style-1-dropdown {
    background-color: #000 !important;
    color: #fff;
    border: none !important;
    border-radius: 0px;
    box-shadow: none !important;

    & .woocs-style-1-select {
      & i {
        display: none !important;
      }
    }
  }
}
.woocs-style-1-dropdown .woocs-style-1-select {
  padding: 0px !important;
}

.card_type-footer-ig {
  //   & .sb_instagram_header {
  //     display: none !important;
  //   }
}

.section-header {
  & .caption {
    margin-top: 6px;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 21px;
  }
}

.searchBotton {
  border: 1px solid #fe7799;
  border-radius: 50px;
  padding: 10px 10px;
  & button {
    padding: 0px 15px;
    background-color: #fe7799;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(124, 17, 17) !important;
  }
}




.card_type-submenulinkv2 {
  & .nav__link-submenuv2 {
    background-color: #000 !important;
    color: #fff !important;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
  }
  & .nav__link-submenuv3{
    padding: 5px;
    font-size: 16px;
    color: #000 !important;

  }
}