.currencyswitchercontainer {
  box-shadow: none !important;
  & .woocs-style-1-dropdown {
    background-color: #000 !important;
    color: #fff;
    border: none !important;
    border-radius: 0px;
    box-shadow: none !important;

    & .woocs-style-1-select {
      & i {
        display: none !important;
      }
    }
  }
}
.woocs-style-1-dropdown .woocs-style-1-select {
  padding: 0px !important;
}

.card_type-footer-ig {
  //   & .sb_instagram_header {
  //     display: none !important;
  //   }
}

.section-header {
  & .caption {
    margin-top: 6px;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 21px;
  }
}
